<div class="tab-pane fade" id="profile-2" role="tabpanel" aria-labelledby="profile-tab-2">
  <div class="row">
    <div><label class="col-12 font-weight-bolder font-size-h4 mb-10"> فضلا إرفاق ملف معلومات
        المركبات لإصدار الوثائق </label></div>

    <div class="col-12">

      <div class="form-group row">
        <div class="col-lg-9">
          <div class="dropzone dropzone-multi" id="kt_dropzone_4">
            <div class="dropzone-panel mb-lg-0 mb-2">
              <a
                class="dropzone-select btn btn-light-primary px-35 text-primary font-weight-bold btn-lg dz-clickable">إرفاق
                الملف</a>
              <a class="dropzone-upload btn btn-light-primary font-weight-bold btn-sm">Upload
                All</a>
              <a class="dropzone-remove-all btn btn-light-primary font-weight-bold btn-sm">Remove
                All</a>
            </div>
            <div class="dropzone-items">

            </div>
            <div class="dz-default dz-message"><button class="dz-button" type="button">Drop
                files here to upload</button></div>
          </div>
        </div>
      </div>


      <div class="alert-text font-weight-bold ml-7 mt-5">قبل ارفاق الملف ولضمان دقة المعلومات
        فضلاً قمت بتحميل <a href="#">“عينة من الملف”</a>
      </div>
    </div>
  </div>
  <div class="separator separator-dashed my-8"></div>

  <div class="row">
    <div class="col-12 checkbox-inline justify-content-end">
      <a href="multiproposal.html" type="button" class="btn btn-primary px-25 btn-lg font-size-h5">
        إصدار
      </a>
    </div>
  </div>


</div>
