<div id="kt_content" class="content d-flex flex-column flex-column-fluid"><!--begin::Entry-->
  <div class="d-flex flex-column-fluid"><!--begin::Container-->
  <div class="container align-self-center"><!--begin::Dashboard--> <!--begin::Row-->
  <div class="row card card-custom bg p-10 mb-10">
  <div class="col-md-12">
  <div class="d-flex justify-content-between align-items-center flex-column flex-md-row">
  <h1 class="display-4 font-weight-boldest font-size-h3 main-title">تفاصيل الوثيقة</h1>
  <div class="d-flex align-content-center">
  <div class="dropdown"><a id="dropdownMenuButton" class="btn btn-light-primary dropdown-toggle mx-1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#">ارسال العرض لجوال المستأجر</a> <a class="dropdown-item" href="#">إرسال العرض لايميل المستأجر</a></div>
  </div>
  <div class="dropdown"><a id="dropdownMenuButton" class="btn btn-light-primary dropdown-toggle mx-1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#">طباعة العرض</a></div>
  </div>
  </div>
  </div>
  </div>
  <div><span class="font-weight-bolde font-size-h5 sub-main-title ml-4">رقم الوثيقة: TRR12333</span></div>
  <div class="col-md-12">
  <div class="col-md-12 card-stroke mt-10 py-8 align-self-center">
  <div class="d-flex  pb-3 flex-column flex-md-row">
  <div class="symbol symbol-80 mr-3"><img src="assets/media/logos/ic-logos/takaful.png" alt="Pic" /></div>
  <h5 class="sub-main-title align-self-center font-size-h4 font-weight-bolder mb-1 ml-5">شركة تكافل الراجحي</h5>
  </div>
  <div class="border-bottom w-100">&nbsp;</div>
  <div class="d-flex justify-content-between pt-5">
  <div class="d-flex flex-column flex-root"><span class="main-title font-size-h5 mb-2 mr-5">التغطيات الأساسية</span> <span class="font-weight-bold font-size-h6 mb-1">المسؤولية تجاه الغير</span> <span class="font-weight-bold font-size-h6 mb-1">الكوارث الطبيعية</span> <span class="font-weight-bold font-size-h6 mb-1">تغطية الخسارة الكلية أو الجزئية للمركبة</span> <span class="font-weight-bold font-size-h6 mb-1">تغطية السرقات والحرائق</span></div>
  <div class="d-flex flex-column flex-root"><span class="main-title font-size-h5 mb-2">المنافع الاضافية</span> <span class="font-weight-bold font-size-h6">لا يوجد</span></div>
  <div class="d-flex flex-column flex-root"><span class="main-title font-size-h5 mb-2">مبلغ التحمل</span> <span class="font-weight-bold font-size-h6">1,500 ر.س</span></div>
  <div class="d-flex flex-column flex-root"><span class="main-title font-size-h5 mb-2">طريقة الإصلاح</span> <span class="font-weight-bold font-size-h6">وكالة</span></div>
  </div>
  <div class="border-bottom w-100 mt-5">&nbsp;</div>
  <div class="d-flex justify-content-between pt-5">
  <div class="d-flex flex-column flex-root"><span class="main-title font-size-h5 mb-2">نوع التأمين </span> <span class="font-weight-bold font-size-h6">تأمين شامل</span></div>
  <div class="d-flex flex-column flex-root"><span class="main-title font-size-h5 mb-2">تاريخ اصدار الوثيقة</span> <span class="font-weight-bold font-size-h6">12/09/2020</span></div>
  <div class="d-flex flex-column flex-root"><span class="main-title font-size-h5 mb-2">تاريخ بدء الوثيقة</span> <span class="font-weight-bold font-size-h6">13/09/2020</span></div>
  <div class="d-flex flex-column flex-root"><span class="main-title font-size-h5 mb-2">تاريخ انتهاء الوثيقة</span> <span class="font-weight-bold font-size-h6">12/09/2021</span></div>
  </div>
  </div>
  <!-- begin: Card Information-->
  <div class="row justify-content-center px-8 pt-md-10 px-md-0 mx-0">
  <div class="col-md-12 card-stroke align-self-center py-8">
  <div class="d-flex justify-content-between pb-3 flex-column flex-md-row">
  <h5 class="sub-main-title font-size-h4 font-weight-bolder mb-1">بيانات مالك الوثيقة (المؤجر)</h5>
  </div>
  <div class="border-bottom w-100">&nbsp;</div>
  <div class="d-flex justify-content-between pt-5">
  <div class="d-flex flex-column flex-root"><span class="main-title font-size-h5 mb-2">مالك الوثيقة</span> <span class="font-weight-bold font-size-h6">البنك/شركة التمويل التأجيري</span></div>
  <div class="d-flex flex-column flex-root"><span class="main-title font-size-h5 mb-2">رقم الهوية</span> <span class="font-weight-bold font-size-h6">7001234567</span></div>
  <div class="d-flex flex-column flex-root"><span class="main-title font-size-h5 mb-2">رقم الهاتف</span> <span class="font-weight-bold font-size-h6">920000000</span></div>
  <div class="d-flex flex-column flex-root"><span class="main-title font-size-h5 mb-2">العنوان</span> <span class="font-weight-bold font-size-h6">الرياض - حي المحمدية<br />طريق الملك فهد 11411</span></div>
  </div>
  </div>
  </div>
  <!-- end: Card Information--> <!-- begin: Card Information-->
  <div class="col-md-12 card-stroke py-8 mt-10">
  <div class="d-flex justify-content-between pb-3 flex-column flex-md-row">
  <h5 class="sub-main-title font-size-h4 font-weight-bolder mb-1">بيانات المستأجر</h5>
  </div>
  <div class="border-bottom w-100">&nbsp;</div>
  <div class="d-flex justify-content-between pt-5">
  <div class="d-flex flex-column flex-root"><span class="main-title font-size-h5 mb-2">المستأجر</span> <span class="font-weight-bold font-size-h6">محمد يوسف احمد</span></div>
  <div class="d-flex flex-column flex-root"><span class="main-title font-size-h5 mb-2">رقم الهوية</span> <span class="font-weight-bold font-size-h6">1234567890</span></div>
  <div class="d-flex flex-column flex-root"><span class="main-title font-size-h5 mb-2">رقم الجوال</span> <span class="font-weight-bold font-size-h6">0551234123</span></div>
  <div class="d-flex flex-column flex-root"><span class="main-title font-size-h5 mb-2">العنوان</span> <span class="font-weight-bold font-size-h6">الرياض - حي الياسمين - انس بن مالك 14664</span></div>
  </div>
  </div>
  <!-- end: Card Information--> <!-- begin: Card Information-->
  <div class="col-md-12 card-stroke py-8 mt-10">
  <div class="d-flex justify-content-between pb-3 flex-column flex-md-row">
  <h5 class="sub-main-title font-size-h4 font-weight-bolder mb-1">بيانات المركبة</h5>
  </div>
  <div class="border-bottom w-100">&nbsp;</div>
  <div class="d-flex justify-content-between pt-5">
  <div class="d-flex flex-column flex-root"><span class="main-title font-size-h5 mb-2">الرقم الجمركي/التسلسلي للمركبة:</span> <span class="font-weight-bold font-size-h6">376326410</span></div>
  <div class="d-flex flex-column flex-root"><span class="main-title font-size-h5 mb-2">ماركة/مويل المركبة:</span> <span class="font-weight-bold font-size-h6">تايوتا/كامري</span></div>
  <div class="d-flex flex-column flex-root"><span class="main-title font-size-h5 mb-2">رقم اللوحة:</span> <span class="font-weight-bold font-size-h6">ح م ب 3416</span></div>
  </div>
  <div class="d-flex justify-content-between pt-5">
  <div class="d-flex flex-column flex-root"><span class="main-title font-size-h5 mb-2">سنة الصنع:</span> <span class="font-weight-bold font-size-h6">2020</span></div>
  <div class="d-flex flex-column flex-root"><span class="main-title font-size-h5 mb-2">قيمة المركبة:</span> <span class="font-weight-bold font-size-h6">120,000 ر.س</span></div>
  <div class="d-flex flex-column flex-root"><span class="main-title font-size-h5 mb-2">نسبة تناقص قيمةالمركبة سنوياً:</span> <span class="font-weight-bold font-size-h6">20%</span></div>
  </div>
  </div>
  <!-- end: Card Information--> <!-- begin: Card Information-->
  <div class="col-md-12 card-stroke py-8 mt-10">
  <div class="d-flex justify-content-between pb-3 flex-column flex-md-row">
  <h5 class="sub-main-title font-size-h4 font-weight-bolder mb-1">بيانات سائقي المركبة</h5>
  </div>
  <div class="border-bottom w-100">&nbsp;</div>
  <div class="d-flex justify-content-between pt-1 mt-5">
  <div class="d-flex flex-column mr-4"><span class="main-title font-size-h5 mb-2">#</span> <span class="font-weight-bold font-size-h6 m-1">1</span> <span class="font-weight-bold font-size-h6 m-1">2</span></div>
  <div class="d-flex flex-column justify-content-between mr-10"><span class="main-title font-size-h5 mb-2">اسم السائق</span> <span class="font-weight-bold font-size-h6 m-1">محمد يوسف احمد</span> <span class="font-weight-bold font-size-h6 m-1">يوسف محمد احمد</span></div>
  <div class="d-flex flex-column justify-content-between mr-5"><span class="main-title font-size-h5 mb-2">هوية السائق</span> <span class="font-weight-bold font-size-h6 m-1">1234567890</span> <span class="font-weight-bold font-size-h6 m-1">1234567890</span></div>
  <div class="d-flex flex-column justify-content-between mr-5"><span class="main-title font-size-h5 mb-2">تاريخ الميلاد</span> <span class="font-weight-bold font-size-h6 m-1">20/08/1980</span> <span class="font-weight-bold font-size-h6 m-1">12/02/1990</span></div>
  <div class="d-flex flex-column justify-content-between mr-5"><span class="main-title font-size-h5 mb-2">العلاقة</span> <span class="font-weight-bold font-size-h6 m-1">المستأجر</span> <span class="font-weight-bold font-size-h6 m-1">ابن</span></div>
  </div>
  </div>
  <!-- end: Card Information--> <!-- begin: Invoice footer-->
  <div class="row justify-content-center bg-color-custom pt-8 px-8 py-md-10 px-md-0 mt-10 mx-0">
  <div class="col-md-12">
  <div class="table-responsive">
  <table class="table">
  <thead>
  <tr>
  <th class="font-weight-bold text-white  text-uppercase">سعر الوثيقة</th>
  <th class="font-weight-bold text-white  text-uppercase">خصم عدم وجود مطالبات</th>
  <th class="font-weight-bold text-white  text-uppercase">قسط إشتراك التأمين</th>
  <th class="font-weight-bold text-white  text-uppercase">ضريبة القيمة المضافة (15.00%)</th>
  <th class="font-weight-bold text-white  text-uppercase">الإجمالي</th>
  </tr>
  </thead>
  <tbody>
  <tr class="font-weight-bolder">
  <td class="text-white font-size-h3 font-weight-boldest ">3,517.43 ر.س</td>
  <td class="text-white font-size-h3 font-weight-boldest text-warning ">(0.00 ر.س)</td>
  <td class="text-white font-size-h3 font-weight-boldest ">3,517.43 ر.س</td>
  <td class="text-white font-size-h3 font-weight-boldest ">527.61 ر.س</td>
  <td class="text-white font-size-h3 font-weight-boldest ">4,045.04 ر.س</td>
  </tr>
  </tbody>
  </table>
  </div>
  </div>
  </div>
  <!-- end: Invoice footer--></div>
  <!--end::Row--> <!--end::Row--> <!--end::Dashboard--></div>
  <!--end::Container--></div>
  <!--end::Entry--></div>
  <!--end::Content--></div>
  <!--end::Wrapper-->
  <p>&nbsp;</p>
  <!--begin::Footer-->
