<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
  <!--begin::Entry-->
  <div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container align-self-center">
      <!--begin::Dashboard-->
      <!--begin::Row-->
      <div class="row card card-custom bg p-10 mb-">
        <div class="col-md-12">
          <div class="d-flex justify-content-between align-items-center flex-column flex-md-row">
            <h1 class="display-4 font-weight-boldest font-size-h3 main-title">نموذج التأمين (عرض سعر) </h1>
            <div class="d-flex flex-column align-items-md-start px-0">
              <div class="d-flex justify-content-between align-items-center flex-column flex-md-row font-weight-bolder mb-3 ">
                رقم العرض: <span class="ml-3 font-weight-bold">01654684643</span></div>
              <div class="d-flex justify-content-between align-items-center flex-column flex-md-row font-weight-bolder mb-3 "
                style="width: 100%;">تاريخ العرض: <span class=" font-weight-bold" style="text-align: left;">01/10/2020</span>
              </div>
              <div class="d-flex justify-content-between align-items-center flex-column flex-md-row font-weight-bolder"
                style="width: 100%;">صلاحية العرض: <span class=" font-weight-bold">21/10/2020</span></div>
            </div>
          </div>
        </div>
       <div class="col-md-12">
          <div class="d-flex align-content-center">
            <div class="dropdown"><a class="btn btn-light-primary dropdown-toggle mx-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="far flaticon2-send-1 "></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">ارسال العرض لجوال المستأجر</a>
                <a class="dropdown-item" href="#">إرسال العرض لايميل المستأجر</a>
              </div>
            </div>
            <div class="dropdown">
              <a class="btn btn-light-primary dropdown-toggle mx-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="far flaticon2-print"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">طباعة العرض</a>
              </div>
            </div>
          </div>
       </div>
       <div class="col-md-12">
        <div class="row justify-content-center  py-8 px-8 py-md-5 px-md-0 mx-0 mt-10">
          <div class="col-md-12 bg-color-custom p-5">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="font-weight-boldest font-size-h4 text-white text-uppercase text-center">شركة التأمين</th>
                    <th class="font-weight-boldest font-size-h4 text-white text-uppercase text-center">قيمة المركبة</th>
                    <th class="font-weight-boldest font-size-h4 text-white text-uppercase text-center">سعر التأمين في السنة الأولى</th>
                    <th class="font-weight-boldest font-size-h4 text-white text-uppercase">إجمالي قيمة التأمين للمدة التعاقدية
                    </th>
                    <th class="font-weight-bold font-size-h4 text-white  text-uppercase text-center">القسط التأميني</th></tr>
                </thead>
                <tbody>
                  <tr class="">
                    <td class="text-white font-size-h5 font-weight-bold text-center "> تكافل الراجحي  <span class="label label-md font-weight-bold label-warning label-pill label-inline mr-2">الأفضل والأقل</span></td>
                    <td class="text-white font-size-h5 font-weight-bold text-center ">120,000 ر.س</td>
                    <td class="text-white font-size-h5 font-weight-bold text-center ">3,000 ر.س</td>
                    <td class="text-white font-size-h5 font-weight-bold text-center ">15,000 ر.س</td>
                    <td class="text-white font-size-h5 font-weight-bold text-center ">250 ر.س</td>
                  </tr>
                  <tr class="">
                    <td class="text-white font-size-h5 font-weight-bold text-center ">شركة التعاونية</td>
                    <td class="text-white font-size-h5 font-weight-bold text-center ">120,000 ر.س</td>
                    <td class="text-white font-size-h5 font-weight-bold text-center ">3,800 ر.س</td>
                    <td class="text-white font-size-h5 font-weight-bold text-center ">19,000 ر.س</td>
                    <td class="text-white font-size-h5 font-weight-bold text-center ">316.67 ر.س</td>
                  </tr>
                  <tr class="">
                    <td class="text-white font-size-h5 font-weight-bold text-center ">شركة أسيج</td>
                    <td class="text-white font-size-h5 font-weight-bold text-center ">120,000 ر.س</td>
                    <td class="text-white font-size-h5 font-weight-bold text-center ">4,100 ر.س</td>
                    <td class="text-white font-size-h5 font-weight-bold text-center ">20,500 ر.س</td>
                    <td class="text-white font-size-h5 font-weight-bold text-center ">341.67 ر.س</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
        <div class="col-md-12">
          <div class="row ">
            <div class="col-md-6">
              <div class="card-stroke py-8 mt-10 mx2">
                <div class="d-flex justify-content-between pb-3 flex-column flex-md-row">
                  <h5 class="sub-main-title font-size-h2 font-weight-bolder mb-1">بيانات مالك الوثيقة (المؤجر)</h5>
                </div>
                <div class="border-bottom w-100"></div>
                <tr class="font-weight-boldest">
                  <div class="d-flex justify-content-between align-items-center mb-4 mt-5">
                    <span class="main-title font-size-h6 mr-2"> اسم مالك الوثيقة (المؤجر):</span>
                    <span class="font-weight-bold font-size-h6">البنك/شركة التمويل التأجيري</span>
                  </div>
                  <div class="d-flex justify-content-between align-items-right mb-4 mt-5">
                    <span class="main-title font-size-h6 mr-2"> رقم هوية مالك الوثيقة:</span>
                    <span class="font-weight-bold font-size-h6">700123123</span>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mb-4 mt-5">
                    <span class="main-title font-size-h6 mr-2"> رقم الهاتف:</span>
                    <span class="font-weight-bold font-size-h6">9200111111</span>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mb-4 mt-5">
                    <span class="main-title font-size-h6 mr-2"> العنوان:</span>
                    <span class="font-weight-bold font-size-h6">الرياض - حي المحمدية
                      طريق الملك فهد 11223</span>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card-stroke py-8 mt-10 mx-2">
                <div class="d-flex justify-content-between pb-3 flex-column flex-md-row">
                  <h5 class="sub-main-title font-size-h2 font-weight-bolder mb-1">بيانات المستأجر</h5>
                </div>
                <div class="border-bottom w-100"></div>
                <tr class="font-weight-boldest">
                  <div class="d-flex justify-content-between align-items-right mb-4 mt-5">
                    <span class="main-title font-size-h6 mr-2"> اسم المستأجر:</span>
                    <span class="font-weight-bold font-size-h6">محمد يوسف احمد</span>
                  </div>
                  <div class="d-flex justify-content-between align-items-right mb-4 mt-5">
                    <span class="main-title font-size-h6 mr-2"> رقم هوية المستأجر:</span>
                    <span class="font-weight-bold font-size-h6">1234567890</span>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mb-4 mt-5">
                    <span class="main-title font-size-h6 mr-2"> رقم الجوال:</span>
                    <span class="font-weight-bold font-size-h6">0551234456</span>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mb-4 mt-5">
                    <span class="main-title font-size-h6 mr-2"> العنوان:</span>
                    <span class="font-weight-bold font-size-h6">الرياض - حي الياسمين
                    - انس بن مالك 14664</span>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row ">
            <div class="col-md-6">
              <div class="card-stroke py-8 mt-10 mx2 h-90">
                <div class="d-flex justify-content-between pb-3 flex-column flex-md-row">
                  <h5 class="sub-main-title font-size-h2 font-weight-bolder mb-1">بيانات المركبة</h5>
                </div>
                <div class="border-bottom w-100"></div>
                <div class="d-flex justify-content-between align-items-right mb-4 mt-5">
                  <span class="main-title font-size-h6 mr-2"> ماركة المركبة:</span>
                  <span class="font-weight-bold font-size-h6">تايوتا</span>
                </div>
                <div class="d-flex justify-content-between align-items-right mb-4 mt-5">
                  <span class="main-title font-size-h6 mr-2">طراز المركبة:</span>
                  <span class="font-weight-bold font-size-h6">كامري</span>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-4 mt-5">
                  <span class="main-title font-size-h6 mr-2">سنة الصنع:</span>
                  <span class="font-weight-bold font-size-h6">2020</span>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-4 mt-5">
                  <span class="main-title font-size-h6 mr-2">قيمة المركبة:</span>
                  <span class="font-weight-bold font-size-h6">120,000 ر.س</span>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-4 mt-5">
                  <span class="main-title font-size-h6 mr-2">نسبة تناقص قيمةالمركبة سنوياً:</span>
                  <span class="font-weight-bold font-size-h6">20%</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card-stroke h-90 py-8 mt-10 mx-2">
                <div class="d-flex justify-content-between pb-3 flex-column flex-md-row">
                  <h5 class="sub-main-title font-size-h2 font-weight-bolder mb-1">سائقي المركبة</h5>
                </div>
                <div class="border-bottom w-100"></div>
                <div class="d-flex justify-content-between pt-1 mt-5">
                  <div class="d-flex flex-column mr-4">
                    <span class="main-title font-size-h5 mb-2">#</span>
                    <span class="font-weight-bold font-size-h6 m-1">1</span>
                    <span class="font-weight-bold font-size-h6 m-1">2</span>



                  </div>
                  <div class="d-flex flex-column justify-content-between mr-10">
                    <span class="main-title font-size-h5 mb-2">اسم السائق</span>
                    <span class="font-weight-bold font-size-h6 m-1">محمد يوسف احمد</span>
                    <span class="font-weight-bold font-size-h6 m-1">يوسف محمد احمد</span>
                  </div>
                  <div class="d-flex flex-column justify-content-between mr-5">
                    <span class="main-title font-size-h5 mb-2">هوية السائق</span>
                    <span class="font-weight-bold font-size-h6 m-1">1234567890</span>
                    <span class="font-weight-bold font-size-h6 m-1">1234567890</span>
                  </div>
                  <div class="d-flex flex-column justify-content-between mr-5">
                    <span class="main-title font-size-h5 mb-2">تاريخ الميلاد</span>
                    <span class="font-weight-bold font-size-h6 m-1">20/08/1980</span>
                    <span class="font-weight-bold font-size-h6 m-1">12/02/1990</span>
                  </div>
                  <div class="d-flex flex-column justify-content-between mr-5">
                    <span class="main-title font-size-h5 mb-2">العلاقة</span>
                    <span class="font-weight-bold font-size-h6 m-1">المستأجر</span>
                    <span class="font-weight-bold font-size-h6 m-1">ابن</span>
                  </div>
              </div>
            </div>
          </div>
        </div></div>
        <div class="col-md-12">
          <div class="row ">
            <div class="col-md-6">
              <div class="card-stroke py-8 mt-10 mx2 h-90">
                <div class="d-flex justify-content-between pb-3 flex-column flex-md-row">
                  <h5 class="sub-main-title font-size-h2 font-weight-bolder mb-1">قيمة المركبة التقديرية للسنوات التعاقدية </h5>
                </div>
                <div class="border-bottom w-100"></div>

                <div class="d-flex justify-content-between pt-1">
                  <div class="table-responsive">
                    <table class="border-0  table">
                      <thead>
                        <tr>
                          <th class="main-title font-size-h5 mb-2">السنة التعاقدية</th>
                          <th class="main-title font-size-h5 text-center mb-2">قيمة المركبة</th>
                          <th class="main-title font-size-h5 text-center mb-2">قيمة التأمين المتوقع</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="font-weight-boldest">
                          <td class="border-0 pl-0 pt-7 d-flex align-items-center">
                            قيمة المركبة السنة الأولى: </td>
                          <td class="text-center pt-7 align-middle">100,000 ر.س</td>
                          <td class="text-center pt-7 align-middle">3,000 ر.س</td>
                        </tr>
                        <tr class="font-weight-boldest border-bottom-0">
                          <td class="border-top-0 pl-0 py-4 d-flex align-items-center">
                            قيمة المركبة السنة الثانية:
                          </td>
                          <td class="border-top-0 text-center py-4 align-middle">80,000 ر.س</td>
                          <td class="border-top-0 text-center py-4 align-middle">2,400 ر.س</td>
                        </tr>
                        <tr class="font-weight-boldest border-bottom-0">
                          <td class="border-top-0 pl-0 py-4 d-flex align-items-center">
                            قيمة المركبة السنة الثالثة:
                          </td>
                          <td class="border-top-0 text-center py-4 align-middle">60,000 ر.س</td>
                          <td class="border-top-0 text-center py-4 align-middle">1,800 ر.س</td>
                        </tr>
                        <tr class="font-weight-boldest border-bottom-0">
                          <td class="border-top-0 pl-0 py-4 d-flex align-items-center">
                            قيمة المركبة السنة الرابعة:
                          </td>
                          <td class="border-top-0 text-center py-4 align-middle">40,000 ر.س</td>
                          <td class="border-top-0 text-center py-4 align-middle">1,200 ر.س</td>
                        </tr>
                        <tr class="font-weight-boldest border-bottom-0">
                          <td class="border-top-0 pl-0 py-4 d-flex align-items-center">قيمة المركبة السنة الخامسة:
                          </td>
                          <td class="border-top-0 text-center py-4 align-middle">20,000 ر.س</td>
                          <td class="border-top-0 text-center py-4 align-middle">600 ر.س</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card-stroke py-8 mt-10 mx-2 h-90">
                <div class="d-flex justify-content-between pb-3 flex-column flex-md-row">
                  <h5 class="sub-main-title font-size-h2 font-weight-bolder mb-1">منافع الوثيقة</h5>
                </div>
                <div class="border-bottom w-100"></div>
                <div class="d-flex justify-content-between pt-1 mt-5">
                  <div class="d-flex flex-column mr-5">
                    <span class="main-title font-size-h5 mb-2">التغطيات الأساسية</span>
                    <span class="font-weight-bold font-size-h6 mb-1">المسؤولية تجاه الغير</span>
                    <span class="font-weight-bold font-size-h6 mb-1">الكوارث الطبيعية</span>
                    <span class="font-weight-bold font-size-h6 mb-1">تغطية الخسارة الكلية أو الجزئية للمركبة</span>
                    <span class="font-weight-bold font-size-h6 mb-1">تغطية السرقات والحرائق</span>
                    <span class="main-title font-size-h5 mb-2 mt-5">التغطيات الإضافية</span>
                    <span class="font-weight-bold font-size-h6">لا يوجد</span>
                  </div>
                  <div class="d-flex flex-column flex-root">
                    <span class="main-title font-size-h5 mb-2">مبلغ التحمل</span>
                    <span class="font-weight-bold font-size-h6">1,500 ر.س</span>
                  </div>
                  <div class="d-flex flex-column flex-root">
                    <span class="main-title font-size-h5 mb-2">طريقة الإصلاح</span>
                    <span class="font-weight-bold font-size-h6">وكالة</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
          <div class="col-md-8 text-center">
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-column flex-root">
                <span class="main-title font-size-h5 mb-2">المؤجر</span>
                <span class="font-weight-bolder font-size-h6">البنك/شركة التمويل التأجيري</span>
              </div>
              <div class="d-flex flex-column flex-root">
                <span class="main-title font-size-h5 mb-2">المستأجر</span>
                <span class="font-weight-bolder font-size-h6">محمد يوسف احمد</span>
              </div>
            </div>
          </div>
        </div>
        <!--end::Row-->


      <!--end::Row-->
      <!--end::Dashboard-->
    </div>
    <!--end::Container-->
  </div>
  <!--end::Entry-->
</div>
<!--end::Content-->

</div>
